

/* Global Styles */

@import url("https://at.alicdn.com/t/font_2248548_8u9r5als536.css");
[class^="icon-"], [class*=" icon-"]{display: inline-block;font-family:"iconfont" !important;font-size:16px;font-style:normal;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}


html,
body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

h2 { font-size: 40px; }
h3 { font-size: 28px; }

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a, a:hover, a:visited, a:focus {
    text-decoration: none;
    outline: none;
}


.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}

.animated.hinge {
	-webkit-animation-duration: 2s;
	animation-duration: 2s
}

.animated.bounceIn, .animated.bounceOut, .animated.flipOutX, .animated.flipOutY
	{
	-webkit-animation-duration: .75s;
	animation-duration: .75s
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}
hr.small.dark {
    border-top: 1px solid #AAAAAA;
    margin: 30px auto;
}

.subTitle{
	margin-right: 10%;
    text-align: right;
}
/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    /* background: url(../image/bg.jpg) no-repeat center center scroll;this.params */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    position: relative;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 3.5em;
    font-weight: 700;
}

.bg-canvas {
    background:black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.bg-canvas canvas { width: 100%;height: 100%;}

/* About */

.about {
    padding: 150px 0;
    background-color: #eee;
}

.about h2 { margin-bottom: 40px; }

/* Funny Box */
.funnyBox{}
.funnyBox i{
    margin-right: 20px;
    color: #777777;
}
.funnyBox span{
    margin-right: 20px;
    color: #777777;
    font-size: 50px;
    font-family: Consolas;
    font-weight: bold;
}
.funnyBox .rightInput{
    color: limegreen;
}
.funnyBox .wrongInput{
    color: red;
}
/* Services */

.services {
    padding: 100px 0;
    overflow: hidden;
    position: relative;
}

.services h3 a, .services h3 a:hover { color:#0769AD;display: inline-block;font-weight: 600; }
.services iframe { vertical-align: middle; }

.service-item {
    display: flex;
    margin-bottom: 30px;
}
.service-item .item-icon {
    width: 25%;
    padding: 25px 0 0 0;
    text-align: center;
}
.service-item .item-icon img{
    width: 100%;
    border-radius: 50%;
}

.service-item .item-content{
    width: 75%;
}

/* vue project area */
.vue-project {
    padding: 100px 0;
    /* background-color: #35495E; */
    /* background-color: #E5EBEF; */
    background-color: white;
    color: white;
}
.vue-project .container { width: 1000px;padding: 0px; }
.vue-project h3.head{ color: #000;text-align: center;margin-bottom: 100px; }

.vue-project h3 a, .vue-project h3 a:hover { color:#41B883;display: inline-block; }
.vue-project ul {
    color: #ddd;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.vue-project ul li{
    list-style: none;
    margin-bottom: 20px;
    height: 480px;

    width: 280px;
    /* background-color: #eee; */
    border-radius: 4px;
    /* box-shadow: 0 1px 5px rgba(0,0,0,.2); */
    display: inline-block;
    margin: 0 10px 20px 10px;
    flex-grow: 1;
    padding-bottom: 5px;
    transition: all .3s;
    /* overflow: hidden; */
}

/* .vue-project ul li:hover{
    box-shadow: 0 1px 20px rgba(0,0,0,.4);
} */

.vue-project ul li .vue-thumbnail {
    background-color: white;
    border-radius: 2px;

    /* border: 1px solid #dddddd; */
    /* box-shadow: 0 1px 1px rgb(0,0,0,0.1); */
    border-radius: 3px;
    /* display: inline-block; */
    transition: all 300ms;
    -webkit-transition: all 300ms;
    background-color: white;
    overflow: hidden;
    height: 230px;
    display: flex;
    align-items: center;
}

/* .vue-project ul li:hover .vue-thumbnail {
    box-shadow: 0 1px 12px rgba(0,0,0,.5);
} */

.vue-project ul li .vue-thumbnail img {
    display: block;
    height: auto;
    max-height: 230px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.vue-project ul li h3{ text-align: center;margin: 5px 0; }
.vue-project ul li div.text-center { margin: 15px 0 0; }
.vue-project ul li p { color: #aaa;text-align: center;padding: 5px; }








.works-area{
	z-index: 1;
}
.linear {
	animation-timing-function: linear
}
.bg-icon {
    width: 6000px;
    animation: 60s bgIconsShowcaseSlide infinite linear;
    animation-fill-mode: both;
    backface-visibility: hidden;
    perspective: 1000px;
    z-index: 0;
    position: absolute;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    opacity: 0.5;
}
.bg-icon:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: top;
    border-radius: inherit;
	opacity: .1;
    background-image: url(../image/bg-image.svg);
    background-repeat: repeat;
}
@keyframes bgIconsShowcaseSlide{0%{transform:translateZ(0);}to{transform:translate3d(-1200px,0,0);}}
/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

.map iframe {
    pointer-events: none;
}

/* Footer */

footer {
    height: auto;
    width: 100%;
    position: relative;
    color: white;
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
}
footer .foot-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 20% 0% 10% 0%;
}

footer hr {
    border-top: 1px solid #E5EBEF;
}

.avatar {
    border: 1px solid #dddddd;
    box-shadow: 0 1px 1px rgb(0,0,0,0.1);
    border-radius: 3px;
    display: inline-block;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    background-color: white;
}
.avatar:hover {
    border: 1px solid #AAAAAA;
    box-shadow: 0 1px 8px rgb(0,0,0,0.5);
}
.avatar a {
    padding: 5px;
    display: inline-block;
}
.avatar img{
    width: 200px;
    height: 200px;
}


.row-email a{
    margin: 5px 10px;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}
